#title{
    text-align: center;
    font-family:courier;
     
 }
 
 #image1{
    display: block;
 margin-left: auto;
   margin-right: auto;
   border-color: SpringGreen;
 border-width: 16px;
 border-style: double;
 border-radius:20px;

 }
 @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

 h2{
     text-align: center;
    font-family:courier;    
 }
    ul{
        list-style-type: none;
        margin:none;
        padding: 0;
        overflow: hidden;
        background-color: linear-gradient(#FF6347, #008080, #DB7093 )7;
    }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
      div{
          text-align: center;  
      }
      form {
        display: inline-block;
    }
      #log {
        border-width: 15px;
    }
    #page3 {
        background: linear-gradient(#FF6347, #008080 );
       }
       #page4 {
        background: linear-gradient(#FF6347, #008080 );
       }
       #page6 {
        background: lightseagreen;
       }
      
   /*
      .active {
        background-color: #4CAF50;
    }
    li a:hover:not(.active) {
        background-color: #111 ;
      }
    */
    
    /* html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



div, div * {
  margin: 10 auto;
  text-align: inherit;
}

canvas {
  margin: 0 auto;
  border: 2px solid black;
}


button, input {
  margin: 0 auto;
  text-align: center;
}
 */

/* Create your styles below */

      
        /* The Modal (background) */
 
        .modal {
          display: none; /* Hidden by default */
         position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
         padding-top: 20%; /* Location of the box */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
         }
 
         /* Modal Content */
         .modal-content {
             position: relative;
             background-color: #3ad3bee5;
             margin: auto;
             padding: 0;
             border: 1px solid #888;
             width: 30%;
             box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
             -webkit-animation-name: animatetop;
             -webkit-animation-duration: 0.4s;
             animation-name: animatetop;
             animation-duration: 0.4s
         }
 
         /* Add Animation */
         @-webkit-keyframes animatetop {
             from {top:-300px; opacity:0}
             to {top:0; opacity:1}
         }
 
         @keyframes animatetop {
             from {top:-300px; opacity:0}
             to {top:0; opacity:1}
         }
 
         /* The Close Button */
         .close {
             color: white;
             float: right;
             font-size: 28px;
             font-weight: bold;
         }
 
         .close:hover,
         .close:focus {
             color: #000;
             text-decoration: none;
             cursor: pointer;
         }
 
         .modal-header {
             padding: 2px 16px;
             background-color: #41d9f4;
             color: white;
             text-align: center;
             height : 50%;
         }
 
         .modal-body {padding: 2px 16px;}
 
         .modal-footer {
             padding: 2px 16px;
             background-color:#f4bc42;
             color: white;
             text-align: center;
             height: 50%;
         }
   
 